.classroomBox {
  background-color: blanchedalmond;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .logo {
    align-self: center;
    margin-top: 80px;
    cursor: pointer;
  }
  .connect {
    align-self: center;

    font-size: 50px;
    font-weight: 600;
    color: snow;
  }
  .work {
    background-color: white;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    .title {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      padding: 5px 7px;
      height: 26px;
      color: white;
      font-weight: 600;
      font-size: 17px;
      display: flex;
    }
    .workName {
      width: 100%;
    }
    .iconBox {
      position: absolute;
      top: 0px;
      right: 20px;
      display: flex;
      .icon {
        margin-top: 4px;
      }
      .colorSelect {
        height: 25px;
        width: 22px;
        margin-right: 5px;
      }
      input[type="color"]::-webkit-color-swatch {
        border: ghostwhite solid 2px;
        border-radius: 50%;
      }
    }
    .info {
      font-size: 15px;
      font-weight: 500;
      margin: 5px 15px 15px 15px;
      .summary {
        padding-bottom: 5px;
        padding-right: 70px;
        word-break: break-all;
      }
      .state {
        position: absolute;
        top: 30px;
        right: 20px;
      }
      .late {
        position: absolute;
        top: 55px;
        right: 20px;
        font-weight: 800;
        color: crimson;
      }
    }
  }
}
