.meals {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 20px;
  left: 20px;
  padding: 8px;

  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  .meal {
    margin: 8px;
    display: flexbox;
    width: 150px;
    min-height: 140px;
    flex-direction: column;
    .title {
      font-size: 15px;
      text-align: center;
    }
    .food {
      margin-bottom: 5px;
    }
    .none {
      text-align: center;
      height: 100%;
      line-height: 100px;
    }
  }
}
